Print() function

In [1]:
print("Hello World")  #print() is a function to print the output

Hello World

In [2]:
print("She said: "Hello" and then left.")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (962245939.py, line 1)

Print() function Modifers

In [3]:
print('She said: "Hello" and then left.')

She said: "Hello" and then left.

In [4]:
print("She said: \"Hello\" and then left.")

She said: "Hello" and then left.

In [1]:
print('''Task 1: Python
Task 2: Sql
Task 3: Power BI''') #''' ''' for multiple lines

Task 1: Python
Task 2: Sql
Task 3: Power BI

In [4]:
print("Task 1: Python\nTask 2: Sql\nTask 3: Power BI") #\n newline

Task 1: Python
Task 2: Sql
Task 3: Power BI